body {
  background-color: rgba(237, 201, 130, 0.85);
}

.foodProducts {
  display: flex;
}

.foodProducts--yellow {
  background-color: rgb(244, 211, 93);
}

.foodProducts--red {
  background-color: rgb(219, 91, 74);
}

.foodProducts--beige {
  background-color: rgb(226, 187, 127);
}

.foodProducts--pink {
  background-color: rgb(246, 123, 125);
}

.foodProducts--brown {
  background-color: rgb(161, 119, 90);
}
