.myForm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 6px;
}

.myForm input {
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.myForm textarea {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 6px;
    margin: 5px;
}

.myForm__button {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.myForm__button:hover {
    background-color: darkorange;
    cursor: pointer;
}

.myForm label {
    text-align: right;
    float: left !important;
    clear: left !important;
}
