body {
  background-color: rgba(237, 201, 130, 0.85);
  margin: auto;
  padding: auto;
}

.parent {
  display: flex;
}

.parent__child1 {
  width: 20%;
  padding: 35px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(244, 211, 93);
  text-align: center;
}

.parent__child2 {
  width: 20%;
  padding: 35px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(219, 91, 74);
  text-align: center;
}

.parent__child3 {
  width: 20%;
  padding: 35px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(226, 187, 127);
  text-align: center;
}

.parent__child4 {
  width: 20%;
  padding: 35px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(246, 123, 125);
  text-align: center;
}

.parent__child5 {
  width: 20%;
  padding: 35px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(161, 119, 90);
  text-align: center;
}
