
.loginForm {
  width: 250px;
  margin: auto;
}

.loginForm__container {
  background-color: #46539e;
  padding: 1rem;
}

.loginForm__header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: white;
}

.loginForm__header p {
  font-size: 3rem;
}

.loginForm__form {
  margin-top: 20px;
}

.loginForm__field {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

.loginForm__field input {
  background-color: #46539e;
  border: none;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  padding: 0.625rem;
  width: 100%;
}

.loginForm__field input:focus {
  outline: none;
}

.loginForm__field input::-webkit-input-placeholder {
  color: cornflowerblue;
}

.loginForm__select {
  padding: 5rem 0;
  width: 100%;
  border: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.loginForm__button {
  background-color: #2ebaef;
  color: white;
  border: none;
  width: 100%;
  padding: 0.625rem;
}
